@import '../../../mixins.scss';

.nav-icons{
  padding-top:18px;
}

.logo-img {
  width: 120px;
}

header {
  .header_wrapper{
    padding:0;
  }
  .navbar {
    display: var(--unnamed-display-flex);
  }

  .navbar-brand{
    padding: 17px 35px;
    text-align: center;
    width: 100%;
  }

  .nav-icons > ul  {
    display: var(--unnamed-display-flex);
    padding:0;
  }
  .nav-icons >ul >li {
    padding:0 12px
  }
 
  .border-grey{
    border-bottom: 1px solid var(--gray-l1);
  } 
}

@include desktop {
  .header_wrapper{
    padding:2% 10%;
  }
  
  .navbar-collapse > ul > li {
    padding:0 32px;
  }
  .text_top{
   vertical-align: top;
  }
  .navbar-nav{
    padding: 0 115px;
  }
  .nav-icons{
    padding-top:0;
  }
}