.sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1f 2fr;
      grid-template-columns: 1f 2fr;
  margin-top: 15px;
}

.sidebar h4 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/14px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
  -webkit-box-shadow: 0px 2px #f3efef;
          box-shadow: 0px 2px #f3efef;
  padding: 16px 0;
}

.sidebar .border-line > a {
  color: var(--gray-d2);
}

.sidebar .filter-section {
  margin: 10px 0;
}

.sidebar .filter-section ul {
  padding: 0;
}

.sidebar .filter-section ul li {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
  list-style-type: none;
  padding-bottom: 12px;
}

.sidebar .filter-section ul li input {
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

.sidebar .filter-section ul li label {
  margin-left: 10px;
  vertical-align: super;
}

.sidebar .filter-section ul p {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
  padding-bottom: 17px;
}

.sidebar .filter-section .border-line {
  -webkit-box-shadow: 0px 2px #f3efef;
          box-shadow: 0px 2px #f3efef;
}

.sidebar .sidebar-colors-wrapper p {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
  padding-bottom: 17px;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  grid-row-gap: 8px;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section div {
  width: 64px;
  height: 40px;
  border-radius: 6px;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .black-color {
  background: #172026 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .white-color {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #DFE1E2;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .teal-green {
  background: #2D9D78;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .mustard-color {
  background: #FDBA5E 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .blue-color {
  background: #172026 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .red-color {
  background: #E34850 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .lavender-color {
  background: #6408D3 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .pink-color {
  background: #F9009A 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .dark-yellow {
  background: #EB7327 0% 0% no-repeat padding-box;
}

.sidebar .sidebar-colors-wrapper .sidebar-colors-section .multi-color {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#AF52FF), color-stop(16%, #7950E8), color-stop(29%, #4F5ADA), color-stop(43%, #57CB76), color-stop(56%, #EBC250), color-stop(69%, #FF8810), color-stop(83%, #E32F0F), to(#BF1919)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
}
/*# sourceMappingURL=Sidebar.css.map */