.productdetails-wrapper {
  padding: 33px 10px;
}

.addcart_buttom {
  background: var(--primary-brand) 0% 0% no-repeat padding-box;
  border-radius: 28px;
  margin-bottom: 24px;
  padding: 11px 90px;
  color: white;
}

.product-info-details .img-details {
  width: 24px;
  height: 24px;
}

.desc-icon {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-bar {
  width: 110px;
  height: 8px;
  background-color: blue;
  margin: 0 auto;
}

.block-header {
  text-align: center;
}

.display-l-36- {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600) !important;
  font-size: var(--unnamed-font-size-24) !important;
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}

.product-img {
  width: 100%;
  height: 550px;
}

.sidebar-colors-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-colors-section div {
  width: 64px;
  height: 40px;
  border-radius: 6px;
  margin: 0 15px 0 0;
}

.sidebar-colors-section img {
  border-radius: 10px;
}

.sidebar-colors-section .black-color {
  background: #172026 0% 0% no-repeat padding-box;
}

.sidebar-colors-section .white-color {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #DFE1E2;
}

.sidebar-colors-section .teal-green {
  background: #2D9D78;
}

.sidebar-colors-section .teal-blue {
  background-color: #0DA0BC;
}

.sidebar-colors-section .magento-color {
  background-color: #D82578;
}

.sidebar-colors-section .darkblack-color {
  background-color: #333333;
}

.sidebar-colors-section .grey-color {
  background-color: #A5A5A5;
}

.size-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size-section div {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin: 0px 20px 0 0;
  border: 1px solid;
  padding: 10px 15px;
}

.quantity-wrapper {
  padding-bottom: 40px;
}

.quantity-wrapper .minus {
  background-image: url("../../assests/minus-circle.png");
  padding: 0px 6px;
}

.quantity-wrapper .plus {
  background-image: url("../../assests/plus-circle.png");
  padding: 0px 6px;
}

.quantity-wrapper .minus,
.quantity-wrapper .plus {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 16px;
}

.quantity-wrapper .quantity {
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 2px solid var(--gray-m1);
  border-radius: 8px;
  opacity: 1;
  width: 169px;
  height: 40px;
  margin: 0 12px;
  text-align: center;
}

.quantity-wrapper .quantity-btn {
  width: 104px;
  margin: 0 12px;
  padding: 11px 35px;
  height: 40px;
  border-radius: 6px;
}

@media (min-width: 1024px) {
  .productdetails-wrapper {
    padding: 33px 300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
  .product-img {
    height: 680px;
    width: 100%;
  }
  .block-header {
    text-align: inherit;
  }
  .addcart_buttom {
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    border-radius: 28px;
    margin-bottom: 24px;
    padding: 11px 90px;
    color: white;
  }
  .sidebar-colors-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar-colors-section div {
    width: 64px;
    height: 40px;
    border-radius: 6px;
    margin: 0 15px 0 0;
  }
  .sidebar-colors-section img {
    border-radius: 10px;
  }
  .sidebar-colors-section .black-color {
    background: #172026 0% 0% no-repeat padding-box;
  }
  .sidebar-colors-section .white-color {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #DFE1E2;
  }
  .sidebar-colors-section .teal-green {
    background: #2D9D78;
  }
  .sidebar-colors-section .teal-blue {
    background-color: #0DA0BC;
  }
  .sidebar-colors-section .magento-color {
    background-color: #D82578;
  }
  .sidebar-colors-section .darkblack-color {
    background-color: #333333;
  }
  .sidebar-colors-section .grey-color {
    background-color: #A5A5A5;
  }
  .size-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .size-section div {
    width: 64px;
    height: 40px;
    border-radius: 6px;
    margin: 0 15px 0 0;
    border: 1px solid;
    padding: 10px 25px;
  }
  .quantity-wrapper {
    padding-bottom: 40px;
  }
  .quantity-wrapper .minus {
    background-image: url("../../assests/minus-circle.png");
    padding: 0px 6px;
  }
  .quantity-wrapper .plus {
    background-image: url("../../assests/plus-circle.png");
    padding: 0px 6px;
  }
  .quantity-wrapper .minus,
  .quantity-wrapper .plus {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 16px;
  }
  .quantity-wrapper .quantity {
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 2px solid var(--gray-m1);
    border-radius: 8px;
    opacity: 1;
    width: 169px;
    height: 40px;
    margin: 0 12px;
    text-align: center;
  }
  .quantity-wrapper .quantity-btn {
    width: 104px;
    margin: 0 12px;
    padding: 11px 35px;
    height: 40px;
    border-radius: 6px;
  }
  .product-info-details .img-details {
    width: 24px;
    height: 24px;
  }
  .desc-icon {
    margin: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .horizontal-bar {
    width: 110px;
    height: 8px;
    background-color: blue;
    margin: 0 0 44px 0;
  }
}
/*# sourceMappingURL=ProductDetails.css.map */